.footer_background-grey {
    position: relative;
    background-color: rgb(136, 136, 136);
    width: 100dvw;
    height: 10dvh;
    border-top: 4px double rgb(77, 76, 76);
}

.footer_wrap-a {
    position: absolute;
    top: 1dvh;
    right: 1dvh;
}

.footer_img-tg {
    width: 10dvw;
}

.footer_img-inst {
    width: 12dvw;
}

.footer_img-wa {
    width: 10dvw;
}

.footer_a { display: inline-block;
    margin: 1dvh 1dvh;
}

.footer_p {
    color: white;
    margin: 6dvw 3dvw;
}