.hi_background-grey {
    border-top: 4px double rgb(173, 173, 173);
    position: relative;
    background-color: rgb(234, 234, 234);
    width: 100dvw;
    min-height: 700px;
  
}

/* центровка через флекс  */

.hi_cutehi {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    padding-top: 2dwv;
}

/* двигающаяся при наведении котейка */
.hi_img-wrap {
    position: relative;
    margin-top: 10px;
}

.hi_cutehi-gif {
    width: 40dvw;
}

.hi_cutehi-webp {
    display: none;
    position: absolute;
    width: 40dvw;
    left: 0;
    top: 0;
    background-color: rgb(234, 234, 234);
}

.hi_img-wrap:hover .hi_cutehi-webp {
    display: block;
}

/* текст */
.hi_p {
    display: inline-block;
    width: 50dvw;
    margin: 30px 0 0 10px;
    font-size: 1.2rem;
    
}

/* 4 строчки после и стиль ссылок */
.hi_wrap-p {
    position: relative;
}

.hi_p2 {
    position: absolute;
    display: inline-block;
    font-size: 1rem;
    width: 180px;
    background-color: rgb(110, 184, 141);
    padding: 10px;
    border-radius: 30px;
    margin: 0;
}

.hi_p-a {
    transform: rotate(-30deg);
    right: -0.5%;
    bottom: 43dvh;
}

.hi_p-b {
    z-index: 1;
    transform: rotate(12deg);
    transform-origin: bottom left;
    right: 2%;
    bottom: 20.5dvh;
}

.hi_p-c {
    transform: rotate(-5deg);
    bottom: 19dvh;
}

.hi_p-d {
    left: 24%;
    bottom: 0;
}


.hi_a {
    color: white;
    border-radius: 15px;
    padding: 2px 5px;
    text-decoration: none;
}

.hi_a:hover {
    background-color: rgb(247, 197, 198);
}

.hi_span {
    font-size: 1rem;
    color: rgb(247, 197, 198);
    font-weight: 900;
    /* text-shadow: 0 0 2px black; */
    border: 1px solid black;
    border-radius: 40px;
    padding: 0 6px;
}