.hi_background-grey {
    border-top: 4px double rgb(173, 173, 173);
    position: relative;
    background-color: rgb(234, 234, 234);
    width: 80vw;
    margin: 0 auto;
    min-width: 900px;
    min-height: 600px;
    max-height: 750px;
}

/* центровка через флекс */

.hi_cutehi {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    padding-top: 25px;
}

/* двигающаяся при наведении котейка */
.hi_img-wrap {
    position: relative;
    margin-top: 50px;
}

.hi_cutehi-gif {
    width: 200px;
}

.hi_cutehi-webp {
    display: none;
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    background-color: rgb(234, 234, 234);
}

.hi_img-wrap:hover .hi_cutehi-webp {
    display: block;
}

/* текст */
.hi_p {
    display: inline-block;
    width: 400px;
    margin-left: 20px;
    font-size: 1.6rem;
    margin-top: 90px;
}

/* 4 строчки после и стиль ссылок */
.hi_wrap-p{position: relative;}
.hi_p2{position: absolute;
    display: inline-block;
    font-size: 1rem;
    width: 400px;
background-color:  rgb(110, 184, 141);
padding: 10px;
border-radius: 30px;
margin: 0;
}
.hi_p-a{transform: rotate(-30deg);
    right: -2.5%;
    bottom: 220px;}
.hi_p-b{z-index: 1;
    transform: rotate(12deg);
    transform-origin: bottom left;
right: -0.2%;
bottom: 82px;}
.hi_p-c{transform: rotate(-5deg);
bottom: 74px;}
.hi_p-d{
    left: 24%;
bottom: 0;
}


.hi_a{color: white;
border-radius: 15px;
padding: 2px 5px;
text-decoration: none;}
.hi_a:hover {background-color: rgb(247, 197, 198);} 



