* {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}


.service_background-grey {
    position: relative;
    background-color:  rgb(234, 234, 234);
    width: 80dvw;
    height: 100dvh;
    margin: 0 auto;
    min-width: 900px;
    min-height: 700px;
    max-height: 950px;
} 
